# Upper Green PEST Pilot Point Setup

In [1]:
import sys
import numpy as np
import pandas as pd
import flopy as flopy
import pyemu
import shapefile #the pyshp module
sys.path.insert(0, 'D:/spark-brc_gits/apexmf_git/apexmf_pkgs')
# from apexmf_pst_pkgs import apexmf_pst_utils, apexmf_pst_par
import apexmf_pst_utils

flopy is installed in C:\Users\seonggyu.park\Miniconda3\envs\sm_pest\lib\site-packages\flopy

In [2]:
wd = 'D:/Projects/Watersheds/Green/Analysis/APEX-MODFLOWs/calibrations/gr_210707/gr_012721/APEX-MODFLOW'
pstfile = "green_pest.pst"
os.chdir(wd)

In [3]:
mf_obs = pd.read_csv(
                    "MODFLOW/modflow.obs",
                    delim_whitespace=True,
                    skiprows = 2,
                    usecols = [3, 4],
                    index_col = 0,
                    names = ["grid_id", "mf_elev"],)
grid_ids = mf_obs.index.tolist()

In [4]:
grid_ids = [4243, 4609, 5315, 6491, 12001, 16333, 17036, 17257]

In [7]:
apexmf_pst_utils.extract_watertable_sim(grid_ids, '1/1/1995', '12/31/2012')

wt_4243.txt file has been created...
wt_4609.txt file has been created...
wt_5315.txt file has been created...
wt_6491.txt file has been created...
wt_12001.txt file has been created...
wt_16333.txt file has been created...
wt_17036.txt file has been created...
wt_17257.txt file has been created...
Finished ...

In [8]:
for grid_id in grid_ids:
    apexmf_pst_utils.mf_obd_to_ins('wt_{}.txt'.format(grid_id), 'wt{:05d}'.format(grid_id), '1/1/1995', '12/31/2012')

wt_4243.txt.ins file has been created...
wt_4609.txt.ins file has been created...
wt_5315.txt.ins file has been created...
wt_6491.txt.ins file has been created...
wt_12001.txt.ins file has been created...
wt_16333.txt.ins file has been created...
wt_17036.txt.ins file has been created...
wt_17257.txt.ins file has been created...

In [9]:
io_files = pyemu.helpers.parse_dir_for_io_files('.')
pst = pyemu.Pst.from_io_files(*io_files)
pyemu.helpers.pst_from_io_files(io_files[0], io_files[1], io_files[2], io_files[3], 'green_dummy_f.pst')

# print(os.chdir(".."))
io_files

C:\Users\seonggyu.park\Miniconda3\envs\sm_pest\lib\site-packages\pyemu\pst\pst_utils.py:615: UserWarning: error processing instruction file cha_009.txt.ins, trying inschek: substring not found
  warnings.warn("error processing instruction file {0}, trying inschek: {1}".format(ins_file,str(e)))
C:\Users\seonggyu.park\Miniconda3\envs\sm_pest\lib\site-packages\pyemu\pst\pst_utils.py:615: UserWarning: error processing instruction file cha_096.txt.ins, trying inschek: substring not found
  warnings.warn("error processing instruction file {0}, trying inschek: {1}".format(ins_file,str(e)))
C:\Users\seonggyu.park\Miniconda3\envs\sm_pest\lib\site-packages\pyemu\pst\pst_utils.py:615: UserWarning: error processing instruction file cha_199.txt.ins, trying inschek: substring not found
  warnings.warn("error processing instruction file {0}, trying inschek: {1}".format(ins_file,str(e)))
C:\Users\seonggyu.park\Miniconda3\envs\sm_pest\lib\site-packages\pyemu\pst\pst_utils.py:615: UserWarning: error processing instruction file wt_12001.txt.ins, trying inschek: substring not found
  warnings.warn("error processing instruction file {0}, trying inschek: {1}".format(ins_file,str(e)))

error using inschek for instruction file cha_009.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file cha_096.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file cha_199.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file wt_12001.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.

C:\Users\seonggyu.park\Miniconda3\envs\sm_pest\lib\site-packages\pyemu\pst\pst_utils.py:615: UserWarning: error processing instruction file wt_16333.txt.ins, trying inschek: substring not found
  warnings.warn("error processing instruction file {0}, trying inschek: {1}".format(ins_file,str(e)))
C:\Users\seonggyu.park\Miniconda3\envs\sm_pest\lib\site-packages\pyemu\pst\pst_utils.py:615: UserWarning: error processing instruction file wt_17036.txt.ins, trying inschek: substring not found
  warnings.warn("error processing instruction file {0}, trying inschek: {1}".format(ins_file,str(e)))
C:\Users\seonggyu.park\Miniconda3\envs\sm_pest\lib\site-packages\pyemu\pst\pst_utils.py:615: UserWarning: error processing instruction file wt_17257.txt.ins, trying inschek: substring not found
  warnings.warn("error processing instruction file {0}, trying inschek: {1}".format(ins_file,str(e)))

error using inschek for instruction file wt_16333.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file wt_17036.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file wt_17257.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.

C:\Users\seonggyu.park\Miniconda3\envs\sm_pest\lib\site-packages\pyemu\pst\pst_utils.py:615: UserWarning: error processing instruction file wt_4243.txt.ins, trying inschek: substring not found
  warnings.warn("error processing instruction file {0}, trying inschek: {1}".format(ins_file,str(e)))
C:\Users\seonggyu.park\Miniconda3\envs\sm_pest\lib\site-packages\pyemu\pst\pst_utils.py:615: UserWarning: error processing instruction file wt_4609.txt.ins, trying inschek: substring not found
  warnings.warn("error processing instruction file {0}, trying inschek: {1}".format(ins_file,str(e)))
C:\Users\seonggyu.park\Miniconda3\envs\sm_pest\lib\site-packages\pyemu\pst\pst_utils.py:615: UserWarning: error processing instruction file wt_5315.txt.ins, trying inschek: substring not found
  warnings.warn("error processing instruction file {0}, trying inschek: {1}".format(ins_file,str(e)))

error using inschek for instruction file wt_4243.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file wt_4609.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file wt_5315.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.

C:\Users\seonggyu.park\Miniconda3\envs\sm_pest\lib\site-packages\pyemu\pst\pst_utils.py:615: UserWarning: error processing instruction file wt_6491.txt.ins, trying inschek: substring not found
  warnings.warn("error processing instruction file {0}, trying inschek: {1}".format(ins_file,str(e)))

error using inschek for instruction file wt_6491.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file cha_009.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file cha_096.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file cha_199.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file wt_12001.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file wt_16333.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file wt_17036.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file wt_17257.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file wt_4243.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file wt_4609.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file wt_5315.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
error using inschek for instruction file wt_6491.txt.ins:run() returned non-zero: 1
observations in this instruction file will havegeneric values.
noptmax:30, npar_adj:251, nnz_obs:598

(['hk0pp.dat.tpl', 'mf_riv.par.tpl', 'PARM1501.DAT.tpl', 'sy0pp.dat.tpl'],
 ['hk0pp.dat', 'mf_riv.par', 'PARM1501.DAT', 'sy0pp.dat'],
 ['cha_009.txt.ins',
  'cha_096.txt.ins',
  'cha_199.txt.ins',
  'wt_12001.txt.ins',
  'wt_16333.txt.ins',
  'wt_17036.txt.ins',
  'wt_17257.txt.ins',
  'wt_4243.txt.ins',
  'wt_4609.txt.ins',
  'wt_5315.txt.ins',
  'wt_6491.txt.ins'],
 ['cha_009.txt',
  'cha_096.txt',
  'cha_199.txt',
  'wt_12001.txt',
  'wt_16333.txt',
  'wt_17036.txt',
  'wt_17257.txt',
  'wt_4243.txt',
  'wt_4609.txt',
  'wt_5315.txt',
  'wt_6491.txt'])

In [12]:
# load the pre-constructed pst
pst = pyemu.Pst(os.path.join(wd, 'green_dummy_f.pst'))

In [14]:
par = pst.parameter_data

In [17]:
for i in range(len(par)):
    if (par.iloc[i, 0][:2]) == 'sy':
        par.iloc[i, 6] = 'sy'
    elif par.iloc[i, 0][:7] == 'rivbot_':
        par.iloc[i, 6] = 'rivbot'
    elif par.iloc[i, 0][:6] == 'rivcd_':
        par.iloc[i, 6] = 'rivcd'
    elif par.iloc[i, 0][:2] == 'hk':
        par.iloc[i, 6] = 'hk'
    elif par.iloc[i, 0][:1] == 'p':
        par.iloc[i, 6] = 'apex'

In [26]:
par.index.rename('parnme1', inplace=True)

In [28]:
par = par.sort_values(by=['pargp', 'parnme'])
par

,parnme,partrans,parchglim,parval1,parlbnd,parubnd,pargp,scale,offset,dercom,extra
parnme1,,,,,,,,,,,
p12,p12,log,factor,1.0,1.100000e-10,1.100000e+10,apex,1.0,0.0,1,NaN
p15,p15,log,factor,1.0,1.100000e-10,1.100000e+10,apex,1.0,0.0,1,NaN
p16,p16,log,factor,1.0,1.100000e-10,1.100000e+10,apex,1.0,0.0,1,NaN
p17,p17,log,factor,1.0,1.100000e-10,1.100000e+10,apex,1.0,0.0,1,NaN
p20,p20,log,factor,1.0,1.100000e-10,1.100000e+10,apex,1.0,0.0,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...
sy0105,sy0105,log,factor,1.0,1.100000e-10,1.100000e+10,sy,1.0,0.0,1,NaN
sy0106,sy0106,log,factor,1.0,1.100000e-10,1.100000e+10,sy,1.0,0.0,1,NaN
sy0107,sy0107,log,factor,1.0,1.100000e-10,1.100000e+10,sy,1.0,0.0,1,NaN
sy0108,sy0108,log,factor,1.0,1.100000e-10,1.100000e+10,sy,1.0,0.0,1,NaN
sy0109,sy0109,log,factor,1.0,1.100000e-10,1.100000e+10,sy,1.0,0.0,1,NaN

In [32]:
for i in range(len(par)):
    if par.iloc[i, 6] == 'rivbot':
        par.iloc[i, 3] = 2.0001   # initial    
        par.iloc[i, 4] = 0.1   # lower
        par.iloc[i, 5] = 4   # upper
        par.iloc[i, 8] = -2   # offset
    elif par.iloc[i, 6] == 'sy':
        par.iloc[i, 3] = 1.000000e-01 
        par.iloc[i, 4] = 1.000000e-03
        par.iloc[i, 5] = 0.500000e+00  
    elif par.iloc[i, 6] == 'hk':
        par.iloc[i, 3] = 1.000000e+00 
        par.iloc[i, 4] = 1.000000e-02
        par.iloc[i, 5] = 1.000000e+02
    elif par.iloc[i, 6] == 'rivcd':
        par.iloc[i, 3] = 50.01   # initial    
        par.iloc[i, 4] = 0.1   # lower
        par.iloc[i, 5] = 100   # upper
        par.iloc[i, 8] = -50   # offset

In [33]:
k01 = [87, 88, 92, 93, 94, 95]
k01 = ['hk{:04d}'.format(i) for i in k01]
k01

['hk0087', 'hk0088', 'hk0092', 'hk0093', 'hk0094', 'hk0095']

In [34]:
for i in par.parnme:
    for j in k01:
        if i == j:
            par.loc[i, 'parval1'] = 0.1
            par.loc[i, 'parlbnd'] = 0.1* 0.01
            par.loc[i, 'parubnd'] = 0.1* 100

In [37]:
# APEX
pst.parameter_data = apexmf_pst_utils.export_pardb_pest(par)

In [38]:
par = pst.parameter_data
par

,parnme,partrans,parchglim,parval1,parlbnd,parubnd,pargp,scale,offset,dercom
p12,p12,log,factor,2.50000,1.50000,2.5,apex,1.0,0.0,1
p15,p15,log,factor,0.00001,0.00001,0.3,apex,1.0,0.0,1
p16,p16,log,factor,1.00000,1.00000,1.5,apex,1.0,0.0,1
p17,p17,log,factor,0.25000,0.00001,0.5,apex,1.0,0.0,1
p20,p20,log,factor,0.20000,0.05000,0.4,apex,1.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...
sy0105,sy0105,log,factor,0.10000,0.00100,0.5,sy,1.0,0.0,1
sy0106,sy0106,log,factor,0.10000,0.00100,0.5,sy,1.0,0.0,1
sy0107,sy0107,log,factor,0.10000,0.00100,0.5,sy,1.0,0.0,1
sy0108,sy0108,log,factor,0.10000,0.00100,0.5,sy,1.0,0.0,1
sy0109,sy0109,log,factor,0.10000,0.00100,0.5,sy,1.0,0.0,1

In [41]:
obd = pst.observation_data
obd

                            obsnme        obsval  weight  obgnme  extra
obsnme
sub009_200001        sub009_200001  1.000000e+10     1.0  obgnme    NaN
sub009_200002        sub009_200002  1.000000e+10     1.0  obgnme    NaN
sub009_200003        sub009_200003  1.000000e+10     1.0  obgnme    NaN
sub009_200004        sub009_200004  1.000000e+10     1.0  obgnme    NaN
sub009_200005        sub009_200005  1.000000e+10     1.0  obgnme    NaN
...                            ...           ...     ...     ...    ...
wt17036_20020328  wt17036_20020328  1.000000e+10     1.0  obgnme    NaN
wt17036_20091217  wt17036_20091217  1.000000e+10     1.0  obgnme    NaN
wt17257_20010926  wt17257_20010926  1.000000e+10     1.0  obgnme    NaN
wt17257_20020330  wt17257_20020330  1.000000e+10     1.0  obgnme    NaN
wt17257_20091217  wt17257_20091217  1.000000e+10     1.0  obgnme    NaN

[598 rows x 5 columns]

In [42]:
for i in range(len(obd)):
    if obd.iloc[i, 0][:6] == 'sub009':
        obd.iloc[i, 3] = 'sub009'
    elif obd.iloc[i, 0][:6] == 'sub096':
        obd.iloc[i, 3] = 'sub096'
    elif obd.iloc[i, 0][:6] == 'sub199':
        obd.iloc[i, 3] = 'sub199'
    else:
        obd.iloc[i, 3] = obd.iloc[i, 0][:7]

## 2.3. Import measured data

In [46]:
gwt_obd = pd.read_csv('MODFLOW/modflow.obd',
                       sep='\t',
                       index_col = 0,
                       parse_dates = True,
                       na_values=[-999, '']
                     )
gwt_obd = gwt_obd['1/1/2000': '12/31/2012']
gwt_obd = gwt_obd.dropna(axis=1, how='all')

# gwtcolnams = gwt_obd.columns.tolist()
# # gwtcols = [i if len(i) < 7 for i in gwtcolnams]
# gwtcols = [i for i in gwtcolnams if len(i) <= 7]

In [45]:
grid_ids = [4243, 4609, 5315, 6491, 12001, 16333, 17036, 17257]
gwtcols = ['wt{:05d}'.format(i) for i in grid_ids]
gwtcols

['wt04243',
 'wt04609',
 'wt05315',
 'wt06491',
 'wt12001',
 'wt16333',
 'wt17036',
 'wt17257']

In [47]:
gwt_obd = gwt_obd[gwtcols]
gwt_obd = gwt_obd.reindex(sorted(gwt_obd.columns), axis=1)
gwt_obd

,wt04243,wt04609,wt05315,wt06491,wt12001,wt16333,wt17036,wt17257
date,,,,,,,,
2000-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2012-12-27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-12-28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-12-29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-12-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2012-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [49]:
stf_obd = pd.read_csv(
    'stf_mon.obd',
    sep='\t',
    index_col = 0,
    parse_dates = True,
    na_values=[-999, '']
)
stf_obd = stf_obd['1/1/2000': '12/31/2012']
stf_obd = stf_obd[['sub009', 'sub096',	'sub199']]
# stf_obd = stf_obd.drop(['sub046', 'sub130'], axis=1)
stf_obd =  stf_obd.reindex(sorted(stf_obd.columns), axis=1)
stf_obd

            sub009  sub096  sub199
Month
2000-01-31     3.9   10.64   31.30
2000-02-29     3.7   10.42   31.41
2000-03-31     4.3   17.23   34.44
2000-04-30    12.1   38.66   36.22
2000-05-31    29.3   70.10   39.65
...            ...     ...     ...
2012-08-31     8.1   17.41   29.86
2012-09-30     4.5   11.31   25.16
2012-10-31     3.1   13.30   24.11
2012-11-30     3.0   16.15   24.55
2012-12-31     3.1   14.66   20.94

[156 rows x 3 columns]

In [50]:
# Get sub list based on obd order
sub_order = []
for i in obd.obgnme.tolist():
    if i not in sub_order:
        sub_order.append(i)
sub_order

['sub009',
 'sub096',
 'sub199',
 'wt04243',
 'wt04609',
 'wt05315',
 'wt06491',
 'wt12001',
 'wt16333',
 'wt17036',
 'wt17257']

In [53]:
# get total list from each sub obd, delete na vals
tot_obd = []
for i in sub_order[:3]:
    tot_obd += stf_obd[i].dropna().tolist()
for j in sub_order[3:]:
    tot_obd += gwt_obd[j].dropna().tolist()    
len(tot_obd)

598

In [54]:
obd.loc[:, 'obsval'] = tot_obd
obd

                            obsnme  obsval  weight   obgnme  extra
obsnme
sub009_200001        sub009_200001    3.90     1.0   sub009    NaN
sub009_200002        sub009_200002    3.70     1.0   sub009    NaN
sub009_200003        sub009_200003    4.30     1.0   sub009    NaN
sub009_200004        sub009_200004   12.10     1.0   sub009    NaN
sub009_200005        sub009_200005   29.30     1.0   sub009    NaN
...                            ...     ...     ...      ...    ...
wt17036_20020328  wt17036_20020328   -2.38     1.0  wt17036    NaN
wt17036_20091217  wt17036_20091217   -2.21     1.0  wt17036    NaN
wt17257_20010926  wt17257_20010926   -2.62     1.0  wt17257    NaN
wt17257_20020330  wt17257_20020330   -2.16     1.0  wt17257    NaN
wt17257_20091217  wt17257_20091217   -2.77     1.0  wt17257    NaN

[598 rows x 5 columns]

# 4. Export control file

In [55]:
pst.control_data.noptmax=0
pst.model_command = 'python forward_run.py'
pst.write('green_pest_4th.pst')

noptmax:0, npar_adj:251, nnz_obs:598